body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#add-task{
    background-color: green;
    border: green solid;
    color: white;
    border-radius: 5px;
}

#app {
    background: white;
    width: 1250px;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: green 5px solid;
    border-radius: 5px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
}

button {
    padding: 10px 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.delete {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
